{% assign h1Class = "page-header-title" %}

<div class="page-header">
  <div class="row">
    <div class="desktop-12">

      {% if template == 'cart' %}
      <h1 class="{{ h1Class }}">{{ 'cart.general.title' | t }}</h1>

      {% elsif template contains 'collection' and collection.handle %}
      {% include 'breadcrumbs' %}
      <h1 class="{{ h1Class }}">{{ collection.title }}</h1>
      {{ collection.description }}

      {% elsif template == 'blog' %}
      <h1 class="{{ h1Class }}">{{ blog.title }}</h1>

      {% elsif template contains 'page' %}
      <h1 class="{{ h1Class }}">{{ page.title }}</h1>

      {% endif %}

    </div>
  </div>
</div>